* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Bree";
  src: local("./src/assets/BreeSerif-Regular.otf"),
    url("./src/assets/BreeSerif-Regular.otf");
}
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1vw;
  color: #333;
  font-weight: 400;
  margin: 5px;
}

body {
background-color: #161a25;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  color: black;
  font-weight: 400;
  margin: 5px;
  margin-left: 100px;
}

.card_view_main {
  width: 50vw;
  height: 100vh;
  margin-left: 18%;
  background-image: url('assets/hand.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  margin-top: 100px;
}

.sidebar_left {
  width: 18%;
  height: 100vh;
  background-color: white;
  position: fixed;
  padding-top: 100px;
}

.sidebar_left button {
  text-align: left;
  width: 85%;
  padding: 10px;
  padding-left: 50px;
  margin: 15px;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  border-radius: 20px;
  color: #161a25;
  font-size: 22px;
  background-color: white;
  transition: 0.3s;
  opacity: 0.9;
}

.sidebar_left button:focus {
  border: 2px solid #777;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #ece2da;
}

.sidebar_left button:hover {
opacity: 1;
}

.sidebar_left button:active {
  color: #4d99ba;
}

.hand_phone {
  border-top: 3px solid black;
  width: 36%;
  height: 32.8vw;
  margin: 0 auto;
  overflow: auto;
  margin-top: 1vw;
  background-color: #ece2da55;
}


.All_cards_list {
  width: 100%;
  list-style: none;
  margin-top: 50px;
}

.RickMorty_card {
  width: 80%;
  height: 22vw;
  border: 2px solid #777;
  border-radius: 15px;
  margin-bottom: 50px;  
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: white;
}

.RickMorty_card img {
  width: 100%;
  border-bottom: 2px solid black;
}

.search_field input {
  margin-left: 50%;
  margin-top: 2vw;
  transform: translate(-50%);
  width: 14vw;
  height: 2vw;
  border: 2px solid #777;
  border-radius: 20px;
  padding-left: 30px;  
  background-color: #ece2da;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: #161a25;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::placeholder {
  color: #161a25;
  opacity: 0.5;
}

.top_bar {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  height: 2vw;
  padding-left: 20px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 1vw;
  color: #161a25;
  padding-top: 6px;
  border-bottom: 3px solid black;
}
.background_color_green {
  background-color: #8adba7;
}
.background_color_red {
  background-color: #d16666;
}
.background_color_grey {
  background-color: #ededed;
}

.name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4vw;
  color: #161a25;
  font-weight: 600;
  margin-bottom: 10px;
}

.fingers{
  width: 50vw;
  height: 5000px;
  background-image: url('assets/fingers.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  z-index: 1000;
  pointer-events:none;
}

.sidebar_right {
  width: 32%;
  height: 100vh;
  background-color: lightgrey;
  position: fixed;
  right: 0;
}

.picture_details img{
  width: 80%;
  margin: 10%;
}


.Details_view_main {
  width: 82%;
  height: 100%;
  float: right;
}

.picture_details_view img{
  width: 30%;
}