* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Bree";
  src: local("./src/assets/BreeSerif-Regular.otf"),
    url("./src/assets/BreeSerif-Regular.otf");
}
@font-face {
  font-family: "Amsi";
  src: local("./src/assets/AmsiPro-Balck.otf"),
    url("./src/assets/AmsiPro-Black.otf");
}

.site_wrapper {
  width: 1500px;
  height: 600px;
}
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1vw;
  color: #333;
  font-weight: 400;
  margin: 5px;
}

body {
background-color: #726d72;
cursor: url('./src/assets/cursour.png');
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  color: black;
  font-weight: 400;
  margin: 5px;
  margin-left: 100px;
}

.card_view_main {
  width: 50vw;
  height: 100vh;
  margin-left: 14%;
  background-image: url('assets/hand_no_star.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  margin-top: 100px;
  z-index: 10;
  transition: transform 0.7s;
}

.hover_zoom_box {
  width: 25vw;
  height: 40vw;
  position: absolute;
  margin-left: 12vw;
  z-index: 100;
  border-radius: 20%;

}

.background_img {
  width: 50vw;
  margin-left: 14%;
  position: fixed;
}

.sidebar_left {
  width: 14%;
  height: 100vh;
  background-color: #726d72;
  position: fixed;
  padding-top: 100px;
  background-image: url('assets/sidebar_background_left.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

button {
  font-family: 'Amsi','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  border-radius: 20px;
  border: 2px solid #777;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #ece2da;
  padding: 5px 15px 5px 15px;
}

.sidebar_left button {
  text-align: left;
  width: 60%;
  margin-left:20%;
  margin-bottom: 30px;
  padding: 10px;
  padding-left: 10%;
  text-transform: uppercase;
  color: #200e17;
  font-size: 1.4vw;
  transition: 0.3s;
  opacity: 0.9;
  background-color: #7e76b200;
}

.sidebar_left button:hover {
opacity: 1;
}

.sidebar_left .router-link-exact-active button {
  background-color: #7e76b2;
}

.hand_phone {
  border-top: 3px solid black;
  width: 36%;
  height: 32.8vw;
  margin: 0 auto;
  overflow: auto;
  margin-top: 1vw;
}


.All_cards_list {
  width: 100%;
  list-style: none;
}

.RickMorty_card {
  width: 80%;
  height: 26vw;
  border: 2px solid #777;
  border-radius: 15px;
  margin-bottom: 50px;  
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: white;
  opacity: 0.8;
  transition: 0.3s;
  
}

.RickMorty_card:hover {
  width: 85%;
  height: 27vw;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 4px, rgba(0, 0, 0, 0.6) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -3px 0px inset;

  
}

.RickMorty_card img {
  width: 100%;
  border-bottom: 2px solid black;
}

.search_field input {
  margin-left: 50%;
  margin-top: 2vw;
  transform: translate(-50%);
  width: 14vw;
  height: 2vw;
  border: 2px solid #777;
  border-radius: 20px;
  padding-left: 30px;  
  background-color: #ece2da;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: #161a25;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::placeholder {
  color: #161a25;
  opacity: 0.5;
}

.top_bar {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  height: 2vw;
  padding-left: 20px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 1vw;
  color: #161a25;
  padding-top: 6px;
  border-bottom: 3px solid black;
}
.background_color_green {
  background-color: #8adba7;
}
.background_color_red {
  background-color: #d16666;
}
.background_color_grey {
  background-color: #ededed;
}

.name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4vw;
  color: #161a25;
  font-weight: 600;
  margin-bottom: 0.6vw;
}

.species {
  margin-bottom: 1vw;
}
.name_details {
  font-family: 'Amsi','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4vw;
  color: #434547;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.fingers{
  width: 50vw;
  height: 5000px;
  background-image: url('assets/fingers.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  z-index: 10;
  pointer-events:none;
}

.sidebar_right {
  width: 36%;
  height: 100vh;
  background-color:#726d72;
  position: fixed;
  right: 0;
  background-image: url('assets/background_right.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.filters_background  {
  width: 130%;
  position: absolute;
  margin-top: 45%;
  animation-name: scale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  opacity: 0.8;
  transition: transform 0.7s;
  z-index: -1;
}

.click_here {
  margin-top: 48vw;
  right: 5vw;
  position: absolute;
  animation: pop 0.7s ease-in infinite;
  padding: 30px;
  font-size: 1.2vw;
}
@keyframes pop {
  25%  {transform: scale(0.95);}
  75%  {transform: scale(1.05);}
}

.picture_details img{
  width: 27%;
  margin-left: 60%;
  margin-top: 36%;
  transform: perspective(300px) rotateY(-40deg);
  position: absolute;
  z-index: -1;
}

@keyframes scale {
  0%   {opacity: 1}
  25%  {opacity: 0.7}
  50%  {opacity: 1;}
  100% {opacity: 1}
}

.detail_basics_comp {
  text-align: center;
  width: 37%;
  height: 9vw;
  margin-top: 38%;
  margin-left: 15%;
  position: absolute;
  padding-top: 5%;
}

.Details_view_main {
  width: 82vw;
  height: 100vh;
  float: right;
}

.dark {
  width: 80%;
  height: 26vw;
  border-radius: 15px;
  margin-bottom: 50px;  
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: white;
  opacity: 0.8;
  transition: 0.3s;
  margin-top: 50px;
}

.top_loader {
  width: 100%;
  height: 2vw;
  background-color: #e2e9ef;
  border-radius: 17px 17px 0 0;
}

.content_loader {
  border-top: 2px solid grey;
  width: 100%;
  height: 65%;
  background: linear-gradient(
    to right,
   #e2e9ef,
    #fff
  );
  background-size: 200% 200%;
  animation: gradient 2s ease-in-out infinite;
  z-index: 9;
}

.headerline_loader{
  width: 70%;
  margin: 0 auto; 
  height: 1vw;
  background-color: #e2e9ef;
  margin-top: 1vw;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.controlls {
  margin: 1vw;
  margin-left: 2vw;
}

.controlls p {
  font-size: 1.2vw;
  color: #444;
}

.controll_panel_filters {
position: absolute;
width: 90%; 
background-color: white;
height: 45vh;
bottom: 3vw;
border-radius: 5px;
border: 10px solid #8f8b87;
background-color: #ece2da;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
padding-left: 3vw;
}

.Exit_filters {
  margin-top: 1vw;
  margin-right: 1vw;
  float: right;
}

.Clear_filters {
  margin-top: 1.5vw;
  margin-left: 0.5vw;
  box-shadow: none;
}


.status_filter {
  margin: 12px auto;
  margin-top: 2vw;
  text-align: left;
}

.species_filter {
  margin: 12px auto;
  text-align: left;
}

.filters button {
  padding: 7px 20px 7px 20px;
  margin: 7px;
  border: 2px solid #777;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
  color: #161a25;
  font-size: 0.9vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.status_filter button {
  background-color: #e1cdbd55;
}
.species_filter button {
  background-color: #a1dd9355;
}
.gender_filter button {
  background-color: #93d1dd55;
}


.status_filter button:active {
  background-color: #9d979355;
}
.species_filter button:active {
  background-color: #91b98855;
}
.gender_filter button:active {
  background-color: #76b4c155;
}

.status_filter .active {
  background-color: #ac9c8f99;
 }
 .species_filter .active {
  background-color: #78a16f99;
 }
 .gender_filter .active {
  background-color: #558c9799;
 }


.LoadMore {
  width: 100%;
  text-align: center;  
  margin: 50px auto;
}

.LoadMore button {
  background-color: #7e76b2;
  color: white;
  padding: 7px 25px 7px 25px;
}


.flicker_home {
  opacity: 1;
}
.flicker_cards {
  opacity: 0.6;
}


.animation {
  width:150vw;
  position: fixed;
  pointer-events: none;
	animation: flickerI 5s linear  reverse infinite;
}
@keyframes flickerI {
	0% {
		opacity: 0.35;
	}
	5% {
		opacity: 0.3;
	}
	10% {
		opacity: 0.4;
	}
	15% {
		opacity: 0.36;
	}
	25% {
		opacity: 0.23;
	}
	30% {
		opacity: 0.38;
	}
	35% {
		opacity: 0.28;
	}
	40% {
		opacity: 0.25;
  }
  100% {
    opacity: 0.3;
  }
}